:root .theme-dark{
    --color-layer-body: #000a12;
    --color-layer-alt-1: #262a34;
    --color-layer-alt-2: #2f3645;
    --color-layer-alt-3: #596070;
    --color-layer-alt-4: rgba(89,96,112,0.5);
    --color-layer-alt-5: rgba(38,42,52,0.6);
    --color-layer-alt-6: rgba(38,42,52,0.8);
    --color-primary-1: #fdd835;
    --color-primary-2: #ffa000;
    --color-primary-3: #ffd149;
    --color-primary-4: #ffff7b;
    --color-primary-5: #ffffad;
    --color-secondary-1: #a153ff;
    --color-secondary-2: #2e0f6c;
    --color-secondary-3: #703bf5;
    --color-secondary-4: #c395ff;
    --color-secondary-5: #e6ceff;
    --color-error: #ff5e3a;
    --color-warning: #fdd835;
    --color-successfully: #1be176;
    --color-primary-gradient: linear-gradient(90deg,#ffa000,#ffff7b);
    --color-secondary-gradient: linear-gradient(90deg,#2e0f6c,#2e0f6c 0.01%,#712df5);
    --color-additional-gradient: linear-gradient(90deg,#11998e,#03dea9);
    --color-tertiary-gradient: linear-gradient(0deg,#000a12,rgba(0,10,18,0));
    --color-tertiary-1: #fff;
    --color-tertiary-2: rgba(182,189,204,0.4);
    --color-tertiary-3: rgba(182,189,204,0.2);
    --color-tertiary-4: rgba(182,189,204,0.1);
    --color-tertiary-5: rgba(0,10,18,0.2);
    --color-tertiary-6: rgba(0,10,18,0.64);
    --color-text-body: #b6bdcc;
    --color-text-alt: #fff;
    --color-text-menu-default: var(--color-text-body);
    --color-text-menu-active: var(--color-primary-1);
    --color-text-link-default: var(--color-primary-3);
    --color-text-link-active: rgba(255,209,73,0.7);
    --color-text-on-opposite-back: #000a12;
    --color-button-text-primary: var(--color-layer-body);
    --color-button-text-secondary: var(--color-primary-2);
    --color-button-text-tertiary: var(--color-secondary-1);
}
